{% extends 'master.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-4">
        Complaint List
    </h1>

    <form method="GET" class="row mb-4">

        <div class="col-md-4">

            <select
                name="status"
                class="form-control"
            >

                <option value="">
                    All Complaints
                </option>

                <option value="Pending">
                    Pending
                </option>

                <option value="In Progress">
                    In Progress
                </option>

                <option value="Resolved">
                    Resolved
                </option>

            </select>

        </div>

        <div class="col-md-2">

            <button
                type="submit"
                class="btn btn-dark w-100"
            >
                Filter
            </button>

        </div>

    </form>

    <table class="table table-bordered">

    <tr>

        <th>ID</th>

        {% if user.is_staff %}

            <th>Student ID</th>
            <th>Student Name</th>

        {% endif %}

        <th>Title</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>

    </tr>

    {% for complaint in page_obj %}

    <tr>

        <td>{{ forloop.counter }}</td>

        {% if user.is_staff %}

            <td>
                {{ complaint.student.student_id }}
            </td>

            <td>
                {{ complaint.student.student_name }}
            </td>

        {% endif %}

        <td>{{ complaint.title }}</td>

        <td>

            {% if complaint.status == "Resolved" %}

                <span class="badge bg-success">
                    Resolved
                </span>

            {% elif complaint.status == "In Progress" %}

                <span class="badge bg-warning text-dark">
                    In Progress
                </span>

            {% else %}

                <span class="badge bg-danger">
                    Pending
                </span>

            {% endif %}

        </td>

        <td>

    {{ complaint.complaint_date|date:"F d, Y" }}

</td>

        <td>

            <a
                href="{% url 'complaint-details' complaint.id %}"
                class="btn btn-primary btn-sm"
            >
                View
            </a>

            {% if user.is_staff %}

            <a
                href="{% url 'update-complaint' complaint.id %}"
                class="btn btn-success btn-sm"
            >
                Update
            </a>

            <a
                href="{% url 'delete-complaint' complaint.id %}"
                class="btn btn-danger btn-sm"
            >
                Delete
            </a>

            {% endif %}

            {% if not user.is_staff and complaint.status == "Pending" %}

            <a
                href="{% url 'withdraw-complaint' complaint.id %}"
                class="btn btn-warning btn-sm"
            >
                Withdraw
            </a>

            {% endif %}

        </td>

    </tr>

    {% empty %}

    <tr>

        {% if user.is_staff %}

            <td
                colspan="7"
                class="text-center text-danger fw-bold"
            >

                No Complaints Found

            </td>

        {% else %}

            <td
                colspan="5"
                class="text-center text-danger fw-bold"
            >

                No Complaints Found

            </td>

        {% endif %}

    </tr>

    {% endfor %}

</table>

    {% if not user.is_staff %}

    <a
        href="{% url 'add-complaint' %}"
        class="btn btn-danger"
    >
        Add Complaint
    </a>

    {% endif %}


    <div class="d-flex justify-content-center mt-4 gap-2">

    {% if page_obj.has_previous %}

        <a href="?page=1"
           class="btn btn-dark">
           First
        </a>

        <a href="?page={{ page_obj.previous_page_number }}"
           class="btn btn-primary">
           Previous
        </a>

    {% endif %}

    <span class="btn btn-light">

        Page {{ page_obj.number }}
        of
        {{ page_obj.paginator.num_pages }}

    </span>

    {% if page_obj.has_next %}

        <a href="?page={{ page_obj.next_page_number }}"
           class="btn btn-primary">
           Next
        </a>

        <a href="?page={{ page_obj.paginator.num_pages }}"
           class="btn btn-dark">
           Last
        </a>

    {% endif %}

</div>

</div>

{% endblock %}